name: "Checks"

on:
  push:
  pull_request:

permissions: {}

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        persist-credentials: false
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main # v6
    - uses: DeterminateSystems/flake-checker-action@main
    - run: nix flake check -L

