name: "Checks"

on:
  push:
  pull_request:

permissions: {}

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main # v6
    - uses: DeterminateSystems/flake-checker-action@main
    - run: nix flake check -L

